.App {
  text-align: center;
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
  /* background-color: blanchedalmond; */
}

.quotebox {
  position: right;
  height: 500px;
  width: 500px;
  border: 5px #008CBA;
  box-sizing: border-box;
  font-size: 50px;
  font-family: 'Times New Roman', Times, serif;
  margin: auto;
  width: 50%;
  padding: 10px;
}

.quotebox button {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

button:hover {
  background-color: #046b8e;
}

button:active {
  position: relative;
  top: 1px;
}

.quote {
  margin: 1em;
}

.author {
  float: right;
  margin: 1em;
}